server.port=5000
spring.data.mongodb.uri=
app.jwt.secret=
app.jwt.expiration=86400000
app.client-url=http://localhost:5173
cloudinary.cloud-name=
cloudinary.api-key=
cloudinary.api-secret=
razorpay.key-id=
razorpay.key-secret=
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
app.email.from=